altgraph==0.17.3
attrs==22.2.0
beautifulsoup4==4.9.3
bleach==6.0.0
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==3.1.0
darkdetect==0.8.0
docutils==0.19
idna==2.10
importlib-metadata==6.1.0
iniconfig==2.0.0
jaraco.classes==3.2.3
keyring==23.13.1
macholib==1.16.2
-e git+https://github.com/mubranch/mpip.git@23cb863f4ca662985d399e7afaf114d4d0291eaa#egg=macpip
markdown-it-py==2.2.0
mdurl==0.1.2
modulegraph==0.19.3
more-itertools==9.1.0
packaging==23.0
pkginfo==1.9.6
pluggy==1.0.0
py2app==0.28.5
Pygments==2.14.0
pyobjc-core==9.0.1
pyobjc-framework-Cocoa==9.0.1
pytest==7.2.2
readme-renderer==37.3
requests==2.25.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.3.2
shiboken6==6.4.3
six==1.16.0
soupsieve==2.4
urllib3==1.26.15
webencodings==0.5.1
zipp==3.15.0
